.holley {
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/articles/2016/10/lifting-1491929408.jpg?resize=4128:*');
  color: white;
  background-repeat: space;
  background-position: center;
  text-align: center;
  padding: 16em;
}
#sign-up {
  font-family: 'Economica', sans-serif !important;
}

.title-area {
  font-size: 30px;
  color:#ffae19;
}
.title-site {
  font-size: 30px;
  color:#ffae19;
  font-weight: bold;
  padding-left: 10px;
}

#sign-in {
  font-family: 'Economica', sans-serif !important;
}

.title-site {
  font-family: 'Economica', sans-serif;
}

.top-bar {
  background-color: #2d2d2d;
  font-family: 'Economica', sans-serif;
}

.title-area {
  background-color: #2d2d2d !important;
  font-family: 'Economica', sans-serif;
  color:#ffae19
}
#top-bar-devise {
  font-family: 'Economica', sans-serif;
}
body {
  background-color: #202020;
}

.workout-form {
  padding-left: 2%;
}

.new-workout-button {
    border: 2px;
    background-color: #ffae19;
    padding: 20px;
    margin-top: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

body button {
  font-family: 'Economica', sans-serif;
}

.add-workout {
  text-align: center;
  align: center;
  padding-top: 10px;

}

body {
  background-color: #202020;
  color: white;
  font-family: 'Economica', sans-serif;
}

.workouts {
  padding-left: 20px;
}

.workout-counter {
  color:#ffae19;
  font-size: 40px;
  font-family: 'Economica', sans-serif;
}

.index-logo {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffa500;
  font-family: 'Economica', sans-serif;
  background-color: #202020;
}


.flash {
  text-align: center;
  font-size: 20px;
}

.button-to {
  font-size: 20px;
  background-color: #ffb732;
  border: 2px;
  color: white;
  padding: 10px;
  font-family: 'Economica', sans-serif;
}

#index-bear {
  background-image: url("https://www.t-nation.com/system/publishing/articles/10005963/original/The-Deadlift-The-Nervous-System.jpg?1519170189");
  background-position: center;
  background-repeat: no-repeat;
  padding: 140px;
}

.workout {
  border: 2px solid white;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.workout p {
  font-size: 30px;
}

#index-bear p {
  visibility: hidden;
}

#project-name {
  color:#ffae19;
}
