.workout-banner {
  text-align: center;
  font-family: 'Economica', sans-serif;
  color:white;
}

.workout-form-label {
  color:white;
}

.submit-workout-button {
  background-color: #800000;
}

.dost-thou {
  height: 350px;
  float: right;
}
