.workout-banner {
  text-align: center;
  font-family: 'Economica', sans-serif;
  font-size:70px;
  color:white;
}

.workout-form-label {
  color:#ffae19;
}

.submit-workout-button {
  background-color: #800000;
  padding: 20px;
}
#submit-workout-button {
  text-align: center;
}

.dost-thou {
  height: 350px;
}

.workout-form-label {
  font-size: 30px;
}

.new-workout {
  font-size: 30px;
}

.form_input {
  font-size: 20px;
  height: 50px;
}

.submit-workout-button-div {
  margin:auto;
}

i {
  padding-bottom: 20px;
}

#errors {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
