.user-info {
  text-align: center;
  font-family: 'Economica', sans-serif;
  color: #FF4E50;
  font-size: 35px;
}

.user-account {
  color:#FF4E50;
  text-align: center;
  font-family: 'Economica', sans-serif;
}

.user-email {
  color: #FF4E50
  text-align: center;
  font-family: 'Economica', sans-serif;
}

.total-workouts {
  color:#FF4E50;
  text-align: center;
  font-family: 'Economica', sans-serif;

}
.user-time {
  color: #FF4E50;
  padding-left: 20px;
  font-family: 'Economica', sans-serif;
}

.maxes {
  color: #FF4E50;
  text-decoration: underline;
  font-size: 50px;
  font-family: 'Economica', sans-serif;
  text-align: center;
}


.user-lifts {
  padding-left: 20px;
  color: #FF4E50;
  font-family: 'Economica', sans-serif;
}

.your-lifts {
  color: #FF4E50;
  text-align: center;
}

.user-div {
  padding: 20px;
  font-family: 'Economica', sans-serif;
}

.user-logo {
  font-size: 50px;
  text-decoration: underline;
  font-family: 'Economica', sans-serif;
}

.chart-header {
  color: white;
  font-family: 'Economica', sans-serif;
}

.chart-div {
  padding: 10px;
}

.chart {
  margin: auto;
  border: 2px white;
  padding: 20px;
}

.lift-pic {
  height: 200px;
  align: center;
}

.lift-card {
  background-color: #202020;
  border:none;
}
.background-chart {
  background-color: #202020;
}

.log-in-button {
  background-color: #333333;
}
