.user-info {
  text-align: center;
  font-family: 'Economica', sans-serif;
  color: white;
  text-decoration: underline;
  font-size: 50px;
}


.user-email {
  color: #ffae19;
  text-decoration: none;
  text-align: center;
  font-family: 'Economica', sans-serif;
}

.total-workouts {
  color:#ffae19;
  text-decoration: none;
  text-align: center;
  font-family: 'Economica', sans-serif;

}
.user-time {
  text-decoration: none;
  color: #ffae19;
  padding-left: 20px;
  font-family: 'Economica', sans-serif;
}

.maxes {
  color: white;
  text-decoration: underline;
  font-size: 50px;
  font-family: 'Economica', sans-serif;
  text-align: center;
}


.user-lifts {
  padding-left: 20px;
  text-decoration: none;
  color: #ffae19;
  font-family: 'Economica', sans-serif;
}

.your-lifts {
  color: #ffae19;
  text-align: center;
}

.user-div {
  padding: 20px;
  font-family: 'Economica', sans-serif;
}

.user-logo {
  font-size: 50px;
  color:white;
  text-decoration: underline;
  font-family: 'Economica', sans-serif;
}

.chart-header {
  color: white;
  font-family: 'Economica', sans-serif;
}

.chart-div {
  padding: 10px;
}

.chart {
  margin: auto;
  border: 2px white;
  padding: 20px;
}

.lift-pic {
  height: 200px;
  align: center;
}

.lift-card {
  background-color: #202020;
  border:none;
}
.background-chart {
  background-color: #202020;
}

.float-user-info {
  float:right;
  margin: 100px;
  font-size: 40px;
}
.user-lifts-and-pic {
  margin: 50px;
}

.log-in-button {
  background-color: #333333;
}

.signup-button {
  color: white;
  background-color: black;
  text-align: center;
  width: 150px;
  text-align: center;
  margin:0 auto;
}

.sign-up-logo {
  font-size: 70px;
}

.sign-up-label {
  color: #ffae19;
  text-align: center;
  font-size: 50px;
}

.sign-up-field {
  width: 600px;
  margin: auto;
}
.actions {
  text-align: auto;
}
