#workout-date {
  color: white;
  font-family: 'Economica', sans-serif;
  font-size: 40px;
}
#workout-location {
  color: white;
  font-family: 'Economica', sans-serif;
}
#workout-review {
  color: white;
  font-family: 'Economica', sans-serif;
}
#workout-goal {
  color: white;
  font-family: 'Economica', sans-serif;
}

#add_sets {
  color: #ffae19;
  text-align: center;
  font-family: 'Economica', sans-serif;
}

.set-collection-header {
  color: #ffae19;
  text-decoration: underline;
  font-size: 45px;
  font-family: 'Economica', sans-serif;
}

.workout-description {
  padding: 10px;
  border: 2px solid;
  margin: 20px 0px 20px 0px;
  font-family: 'Economica', sans-serif;
}

.set-collecton-show {
  margin: 20px 0px 20px 0px;
  border: 2px solid;
  padding: 20px;
  clear:left;
  font-family: 'Economica', sans-serif;
}

.set-collection-form {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  border: 2px solid;
  font-family: 'Economica', sans-serif;
}
.dost-thou {
  height: 300px;
  float: right;
  font-family: 'Economica', sans-serif;
}

.exercise-name {
  color:#ffae19;
  font-size: 30px;
  font-family: 'Economica', sans-serif;
}

.user-input {
  font-weight: bolder;
  color: #ffae19;
  font-family: 'Economica', sans-serif;
}

.submit-set-collection {
  background-color: #ffae19;
  font-family: 'Economica', sans-serif;
  padding: 30px;
  font-size: 20px;
  margin-top: 20px;
}
.delete-set-collection {
  background-color: #ffae19;
  padding: 15px;
  margin-bottom: 20px;
  font-family: 'Economica', sans-serif;
}

#set-collection-form {
  background-color: #202020;
}

#submit-button-set-collections-div {
  margin: auto;
}
